.wrapper,
html,
body {
  height: 100%;
  margin: 0;
}


.wrapper {
  display: flex;
  height:75px;
  background-color: #C4E2FF;
  padding-top: 0px;
  padding-left: 0px;
}

.left {
  flex: 0 0 65%;
}

.right {
  flex: 1;
}

.items{
  display:flex;
  padding-top:30px;
  font-size: 17px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.header-start{
  padding-left: 30px;

}
.header-sign{
  padding-left: 120px;
  cursor:pointer;
}
.header-log{
  padding-left: 20px;
  /* position: absolute; */
}

.button-start {
  background-color: rgba(25, 25, 25, 1);
  border: none;
  color: rgba(255, 255, 255, 1);;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: -6px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.line{
width: 100%;
border-bottom: 1px solid black;
position: absolute;
}
