.list-group{
  margin-left: 80px;
  padding-top: 50px;
}

.blog-title{
  font-size:25px;
  /* padding-bottom:40px; */
  color:rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author{
  font-size: 15px;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blog-date{
  font-size:15px;
  padding-bottom:50px;
  color:rgba(117, 117, 117, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sb-example-1 .search {
  width: 40%;
  padding-top:15px;
  position: relative;
  display: flex;
}
.sb-example-1 .searchTerm {
  width: 100%;
  border: 2px solid rgba(41, 41, 41, 1);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.sb-example-1 .searchTerm:focus{
  color: #00B4CC;
}
.sb-example-1 .searchButton {
  width: 40px;
  height: 50px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.sb-example-1 .searchButton i{
  color: #0052cc;
}
