.list-group{
  margin-left: 80px;
  padding-top: 50px;
}

.blog-title{
  font-size:25px;
  /* padding-bottom:40px; */
  color:rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.author{
  font-size: 15px;
  color: rgba(41, 41, 41, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.blog-date{
  font-size:15px;
  padding-bottom:50px;
  color:rgba(117, 117, 117, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
