/* #id{
  width:500px;
} */
.submit-form{
  background-color:#C4E2FF;
}

.labels{
  font-size:30px;
  font-family:gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.blog > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
